*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
    

body{
    width: 1300px;
    background-color:rgb(253, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    
}
#cabecalho{
    display: inline-block;
    position:fixed;
    margin-top:0;
    margin-left:0;
    margin-right: 0;
    width: 100%;    
    background-color: aqua;
    text-align: center;
    border: solid 2px gray;
 
}
#titulo{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:blueviolet;
    
}
nav{
    display: inline-block;
    
}nav ul{
    padding-top: 55px;
    display: inline-block;
    
}
nav ul li{
display: inline;
padding: 10px;
margin-left: 50px;
}
nav ul li:hover{
    background-color: blue;
    color:aliceblue;
    font-weight: 800;
    transition: 1s;
    cursor: pointer;
}

img{
    display:inline-block;
    width: 500px;
    border: solid 5px violet;
    border-radius: 25% 0;
    margin-top: 40px;
    margin-right: 0;
}
main, nav, footer, section {
    margin-left: 50px;
}
h2, h3{
    padding: 50px;
    color: green;
    font-style: italic ;
}

table{
    float:right;
    display: inline-block;
    margin-top:40px ;
    border-style: inset;
    border-color: red;
    padding:20px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size:100px;
    color: green;
    background-color: pink;
    width: 600px;
    height: 500px;
}
article, section, p, ol li, ul li{
    line-height: 30px;
}
.lado-esquerdo{
    
    display: inline-block;
    margin-left:0;
    width: 400px;
    padding-right: 0;
    border-right: 0;
    margin-right: auto;
    
}
.lado-direito{
    
    display: inline-block;
    margin-right: 0;
    margin-left:150px;
    width: 500px;
   
}
div{
 
 
    display: inline-block;
    margin-left: 0;
    width: 400px;
    padding-right: 0;
    border-right: 0;
    margin-right: auto;
    
    
}
footer{
    position:static;
    display: inline-block;
    width:1300px;
    text-align: center;
    margin-top: 10px;
   
}
#aprender{
    
    display: inline-block;
    margin-left:500px;
    width: 400px;
    padding-right: 0;
    border-right: 0;
    margin-right: auto;
    
}
section{
    padding-left: 0;
    position:relative;
    top:-430px;
    display: inline-block;
    margin-right: 700px;
    width: 200px; 
 }